html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -webkit-overflow-scrolling: touch;
}

body {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.header {
    padding: 0;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins;
    font-style: italic;
    background-image: url(assets/Foodify.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 80px;
}

.searcharea {
    margin: 5px;
    display: flex;
    align-content: flex-start;
    gap: 15px;
}

.location {
    min-width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
    text-align: center;
    line-height: 72px;
    row-gap: 10px;
}

.locationimg {
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    background-image: url(assets/marker.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

}

.searchbar {
    min-width: calc(100% - 135px);
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
    border: none;
    padding: 0px 57px 0px 13px;
    background-image: url('assets/search-icon.png'); 
    background-position: 97% 10px; 
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: Poppins;
}

.searchbar:focus {
    outline: none;
}

.separator {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid #f7f7f7;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}


.categories {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px 10px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.categoriesheader {
    position: absolute;
    font-family: Poppins;
    font-weight: 600;
}

.categoryoptions {
    display: flex;
    position: absolute;
    right: 20px;
    left: auto;
    width: fit-content;
    font-size: 18px;
    margin-top: 4px;
    color: rgb(94, 94, 94);
    font-family: Poppins;
}

#adviewall:hover {
    color:#ff8d3a;
    animation-name: rotateviewall;
    animation-duration: 0.5s;
}

@keyframes rotateviewall {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.filter {
    background-image: url(assets/filter.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: auto;
    margin-top: 5px;
    margin-right: 3px;
}

.items {
    margin-top: 45px;
    width: 100%;
    display: flex;
    gap: 15px;
    height: fit-content;
}

.items#adpage {
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

.itemlist {
    position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

.itemlist:hover {
    min-width: 110px;
    height: 90px;
}

.itemlistnames {
    width: 100%;
    display: flex;
    gap: 15px;
    height: fit-content;
}

.itemlistname {
    position: inherit;
    text-align: center;
    min-width: 100px;
    height: fit-content;
    margin-top: 5px;
    font-family: Poppins;
    font-weight: 600;
}

#item1 {
    background-image: url('https://th.bing.com/th/id/OIP.MfhIfzrC6x6T1-szQkjtCgHaEo?rs=1&pid=ImgDetMain');
    background-position: center;
}


#item2 {
    background-image: url('https://www.tastingtable.com/img/gallery/what-makes-restaurant-burgers-taste-different-from-homemade-burgers-upgrade/l-intro-1662064407.jpg');
    background-position: center;
}

#item3 {
    background-image: url('https://www.seriouseats.com/thmb/WzQz05gt5witRGeOYKTcTqfe1gs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/butter-basted-pan-seared-steaks-recipe-hero-06-03b1131c58524be2bd6c9851a2fbdbc3.jpg');
    background-position: center;
}

#item4 {
    background-image: url('https://assets.epicurious.com/photos/5988e3458e3ab375fe3c0caf/1:1/w_3607,h_3607,c_limit/How-to-Make-Chicken-Alfredo-Pasta-hero-02082017.jpg');
    background-position: center;
}

#item5 {
    background-image: url('https://twoplaidaprons.com/wp-content/uploads/2023/02/Korean-fried-chicken-wings-on-a-plate-thumbnail-shot.jpg');
    background-position: center;
}
#item6 {
    background-image: url('https://cdn.loveandlemons.com/wp-content/uploads/2020/03/rice-recipes.jpg');
    background-position: center;
}

.popitemlist {
    display: inline-flex;
    flex-direction: row;
    height: 120px;
    min-width: fit-content;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

.poplistimg {
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    min-width: 80px;
    min-height: 97px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

.poplistgroup {
    display: inline-table;
    height: inherit;
    margin-right: 10px;
}

.poplistheader {
    font-family: Poppins;
    font-weight: 800;
    font-size: 20px;
    margin-top: 3px;
    text-wrap: nowrap;
    min-width: fit-content;
    height: fit-content;
}

.poplistprovider {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: rgb(155, 155, 155);
}

.poplistprice {
    margin-top: 35px;
    float: right;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
}

#poplistimg1 {
    background-image: url('https://hips.hearstapps.com/delish/assets/16/40/1475873448-grilled-image.jpg');
    background-position: center;
    background-size: 144px;
}

#poplistimg2 {
    background-position: center;
    background-image: url('https://www.jollibeefoods.com/cdn/shop/products/OLO_ProductImage_MealDeal2pcGRAVY.jpg?v=1680303021&width=1080');
}

#poplistimg3 {
    background-image: url('https://pinoycupidgifts.com/wp-content/uploads/2022/08/McCrispy-Chicken-Fillet-Ala-King-with-Drink-Fries-Small-Meal-600x450.jpg');
    background-position: center;
}

#poplistimg4 {
    background-image: url('https://www.burgerking.lt/images/optimized/products/meals-whopper-desktop-4330f37bfdd964a0698be10591f4ff45.png');
    background-position: center;
}

.aditemlist {
    display: inline-flex;
    flex-direction: column;
    min-height: 170px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

.aditemlist#adpage {
    max-width: 90%;
}

.adlistimg {
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 150px;
    min-height: 97px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

.adlistgroup {
    display: inline-table;
    height: inherit;
    margin: auto;
    margin-left: 5px;
    width: fit-content;
    padding: 0px 10px 10px 10px
}

.adlistgroup#adpage {
    margin-left: 5px
}

.adlistheader {
    font-family: Poppins;
    font-weight: 800;
    font-size: 20px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    height: fit-content;
}

.adlistprovider {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: rgb(155, 155, 155);
}

.adlistprice {
    margin-top: 15px;
    float: Left;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    color: rgb(119, 119, 119);
}

#adlistimg1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/320px--Insert_image_here-.svg.png');
    background-position: center;
    background-size: 144px;
}

#adlistimg2 {
    background-position: center;
    background-size: 144px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/320px--Insert_image_here-.svg.png');
}

#adlistimg3 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/320px--Insert_image_here-.svg.png');
    background-position: center;
    background-size: 144px;
}

#adlistimg4 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/320px--Insert_image_here-.svg.png');
    background-position: center;
    background-size: 144px;
}

.footer {
    display: inline-flex;
    width: 100%;
    height: 65px;
    background-color: #ff8d3a;
    bottom: -1px;
    position: sticky;
    z-index: 999999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.exploregroup {
    position: relative;
    display: flex;
    flex-direction: row;
}

.footerbutton {
    position: inherit;
    display: flex;
    background-color: #fab98ba6;
    color: #f7f7f7;
    border-radius: 60px;
    padding: 5px 13px 5px 13px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:30px;
}

.footerbuttontext {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:8px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.footerbuttonicon {
    background-image: url(assets/circle-book-open.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
}

.footerbuttonicon#adpage {
    background-image: url(assets/back-icon.png);
    width: 30px;
    height: 30px;
}

.footerbutton:hover {
    animation-name: footerbuttonhover;
    animation-duration: 1s;
}

@keyframes footerbuttonhover {
    0% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(1.1, 1.1)
    }
}

.footermenu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 23px;
    margin-right: 25px;
    margin-left: auto;
    margin-top: 18px;
    margin-bottom: auto;
    width: auto;
    height: fit-content;
}

.cart {
    background-image: url(assets/shopping-basket.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
}

.account {
    background-image: url(assets/circle-user.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
}

.profilemenu {
    display: none;
    animation-duration: 0.3s;
    animation-name: menutransition;
    position: fixed;
    background-color: #ff8d3a;
    top: 0px;
    right: 0px;
    height: 99.5%;
    width: 40%;
    z-index: 9998;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

@keyframes menutransition {
    0% {
        transform: translate(200px);
        opacity: 0;
    }
    10% {
        transform: translate(180px);
        opacity: 0.1;
    }
    20% {
        transform: translate(160px);
        opacity: 0.2;
    }
    30% {
        transform: translate(140px);
        opacity: 0.3;
    }
    40% {
        transform: translate(120px);
        opacity: 0.4;
    }
    50% {
        transform: translate(100px);
        opacity: 0.5;
    }
    60% {
        transform: translate(80px);
        opacity: 0.6;
    }
    70% {
        transform: translate(60px);
        opacity: 0.7;
    }
    80% {
        transform: translate(40px);
        opacity: 0.8;
    }
    90% {
        transform: translate(20px);
        opacity: 0.9;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.profilepic {
    position: sticky;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50px;
    background-image: url(assets/placeholderdp.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menugroup {
    margin:auto;
    margin-right: 15px;
    margin-top: 10px;
    width: fit-content;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
}

.profilemanagement:hover {
    font-weight: 600;
}

.categories#adspace {
    margin-bottom: -10px;
}

.ad {
    margin: auto;
    margin-bottom: 10px;
    min-width: 80%;
    min-height: 150px;
    border-radius: 10px;
}

#ad1 {
    background-image: url(https://i.pinimg.com/originals/06/9d/61/069d617dca720be2d65014963515d28e.gif);
    background-position: center;
    background-size: contain;
}

#ad2 {
    background-image: url(https://media.giphy.com/media/x0WI8wlyu7TqM/giphy.gif);
    background-position: center;
    background-size: contain;
}

#adpage1 {
    background-image: url(https://media1.giphy.com/media/Kxzh86RXPo8AtQ8VlQ/giphy.gif?cid=ecf05e47s7w5d1octa9rrxllvr11ueyemgujyr7yplem2995&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-position: center;
    background-repeat: no-repeat;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}